.socialSignin {
    margin: .5rem auto 1rem;
}

.links {
    font-size: 2rem;
    display: block;
    width: 100%;
    margin: -1.5rem auto 0;
    text-shadow: 1px 1px #000000;
    a {
        color: black;
    }
}