.directory {
    height: 100%;
    .wrap {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .item {
        width: 100%;
        height: 33%;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    a {
        font-weight: bold;
    }
}