html {
    font-size: 10px;
}

html,
body {
    padding: 0;
    margin: 0;
}

html,
body,
#root,
.App,
.fullHeight {
    height: 100%;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 3;
    color: #fadbd5;
    ;
    text-shadow: 2px 2px #000000;
}

a {
    text-decoration: none;
    margin-left: 40%;
    -webkit-margin-start: 9%;
    -moz-margin-start: 9%;
}

a,
a:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-box-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.main {
    width: 100%;
    height: calc(100% - 6.5rem);
    max-width: 1450px;
    padding: 0 10px;
    margin: 0 auto;
}

.directory {
    height: 100%;
    .wrap {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    .item {
        height: 100%;
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}